h2 {
  margin-bottom: 0;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.profit-cell {
  color: green
}

.loss-cell {
  color: red
}

.ag-header-cell-label {
  text-overflow: clip;
  overflow: visible;
  white-space: normal;
}

.ag-theme-balham {
  --ag-font-family: monospace !important;
}

.less-important {
  color: grey;
}